* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url('img.png');
    font-family: Arial, sans-serif; 
}

.container {
    max-width: 440px;
    margin: 50px auto;
    background-color: #363636;
    padding: 30px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.container h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ffffff;
}

.container input[type="text"],
.container input[type="email"] {
    width: 350px;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
}

.container input[type="submit"] {
    background-color: #141414;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container input[type="submit"]:hover {
    background-color: #000000;
}

.error {
    color: red;
    text-align: left;
}

.container p {
    font-size: 14px;
    margin-top: 10px;
}

.container a {
    color: white;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}
